<!-- 
edit.ejs
Project
Revision history
Sreehari Prathap, Section 6, 2023.11.24: Created  
 -->
<%- include('components/header'); -%>

    <body>
        <%- include('components/navbar'); -%>
            <main class="main-wrapper">
                <h1 class="center">Make an order</h1>
                <form method="POST" class="form-wrapper" action="process">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" class="input" />
                        <p class="error">
                            <%= formErrors.name %>
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" id="phone" class="input" />
                        <p class="error">
                            <%= formErrors.phone %>
                        </p>
                    </div>

                    <h3>Products for sale</h3>
                    <% products.forEach(product=> { %>
                        <div class="form-group">
                            <label for="quantity_<%= product.id %>">
                                <%= product.name %> - $<%= product.price %>
                            </label>
                            <input type="text" name="quantity_<%= product.id %>" id="quantity_<%= product.id %>"
                                placeholder="Enter the quantity for <%= product.name %>" value="0" class="input" />
                        </div>
                        <p class="error">
                            <%= formErrors[`quantity_${product.id}`] %>
                        </p>
                        <% }); %>
                            <p class="error">
                                <%= formErrors.totalError %>
                            </p>

                            <div class="button-wrapper">
                                <input type="submit" value="Checkout" class="button" />
                            </div>
                </form>
            </main>
            <%- include('components/footer'); -%>