<!-- 
login.ejs
Project
Revision history
Sreehari Prathap, Section 6, 2023.11.24: Created  
 -->
<%- include('components/header'); -%>
<body>
  <%- include('components/navbar'); -%>
  <main class="login-wrapper">
    <div class="login-section">
      <h1 class="center">Login</h1>
      <form method="POST" class="form-wrapper" action="validate" enctype="multipart/form-data">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="input"/>
          <p class="error"><%= loginFormErrors.email %></p>
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" id="password" name="password" class="input" />
          <p class="error"><%= loginFormErrors.password %></p>
        </div>
        <div class="button-wrapper">
          <input type="submit" value="Login" class="button" />
        </div>
      </form>
    </div>
  </main>
  <%- include('components/footer'); -%>